In [1]:
import mysql.connector
cnx=mysql.connector.connect(host='localhost',port=3306,user='root',password='',database='lab_assignment1')
cursor=cnx.cursor(buffered=True)
cursor.execute('SHOW TABLES')
for x in cursor:
    print(x)

('cutomer',)
('dept_total_salary',)
('faculty',)
('facultyy',)
('instructor',)
('movie',)
('salary_total',)
('teacher',)
('teaches3',)
('teaches33',)
('theater',)

In [2]:
query = """
        create table city(
            city_id varchar(8) not null primary key,
            name varchar(15)
        )
        """
cursor.execute(query)
print('city table created!')

city table created!

In [3]:
query = """
        create table theatre(
        theatre_id varchar(8) not null primary key,
        name varchar(15),
        address varchar(30),
        city_id varchar(8),
        foreign key (city_id) references city(city_id)
        )
        """
cursor.execute(query)
print('theatre table created')

theatre table created

In [6]:
query = """  create table movie(
            movie_id varchar(8) not null primary key,
            name varchar(15),
            genre varchar(10),
            duration int,
            release_date date
        )
        """
cursor.execute(query)
print('movie table created')

movie table created

In [7]:
query = """
        create table screens(
            screen_id varchar(8) not null,
            name varchar(15),
            price int,
            total_seating int,
            seats_filled int,
            theatre_id varchar(8),
            foreign key(theatre_id) references theatre(theatre_id),
            movie_id varchar(8),
            foreign key (movie_id) references movie(movie_id),
            show_timings time not null,
            primary key (screen_id,show_timings)
        )
        """
cursor.execute(query)
print('screens table created!')

screens table created!

In [8]:
query = """
        create table bookings(
            booking_id varchar(8) not null primary key,
            user_name varchar(20),
            mobile_number varchar(10),
            email varchar(15),
            booked_seats int,
            booking_date datetime,
            screen_id varchar(8),
            show_timings time,
            foreign key (screen_id,show_timings) 
            REFERENCES screens(screen_id,show_timings)
        )
        """

cursor.execute(query)
print('booking table created!')

booking table created!

In [9]:
# Inserting data into cities

query = """
        insert into city 
        values(%s,%s)
        """
cities = [('AP001','Vijayawada'),
          ('AP002','Vizag'),
          ('JK001','Dhanbad'),
          ('TS001','Hyderabad'),
          ('KA001','Bangalore'),
          ('TN001','Chennai'),
          ('DL001','Delhi') ]

cursor.executemany(query,cities)
cnx.commit()

print(cursor.rowcount,' rows inserted!')

7  rows inserted!

In [10]:
# Inserting data into theatre
query = """
        insert into theatre 
        values(%s,%s,%s,%s)
        """

theatres = [('VJA001','INOX','12/3','AP001'),
            ('VJA002','PVP','13/3','AP001'),
            ('VJA003','PVR','14/34','AP001'),
            ('HYD001','INOX','12/23','TS001'),
            ('HYD002','IMAX','23/11','TS001'),
            ('CHN001','INOX','12/43','TN001'),
            ('CHN002','IMAX','122/21','TN001'),
            ('VZG001','INOX1','132/32','AP002'),
            ('VZG002','INOX2','198/39','AP002'),
            ('DHN001','INOX1','121/13','JK001'),
            ('DHN002','INOX2','132/9','JK001'),
            ('BLR001','INOX1','132/32','KA001'),
            ('BLR002','INOX2','198/39','KA001'),
            ('DLH001','INOX1','132/32','DL001'),
            ('DLH002','INOX2','198/39','DL001')]

cursor.executemany(query,theatres)
cnx.commit()

print(cursor.rowcount,' rows inserted!')

15  rows inserted!

In [11]:
# Inserting data into movie
query = """
        insert into movie 
        values(%s,%s,%s,%s,%s)
        """

movies = [('MV001','John Wick 4','Action','140','20/3/23'),
            ('MV002','Bhola','Action','180','22/3/23'),
            ('MV003','RRR','Action','160','24/3/23'),
            ('MV004','Pathaan','Action','170','18/3/23')]

cursor.executemany(query,movies)
cnx.commit()

print(cursor.rowcount,' rows inserted!')

4  rows inserted!

In [12]:
# Inserting data into screens

query = """
        insert into screens 
        values(%s,%s,%s,%s,%s,%s,%s,%s)
        """

screens = [('SCR001','SCREEN1','150','80','0','VJA001','MV001','11:00'),
          ('SCR001','SCREEN1','150','80','0','VJA001','MV001','14:00'),
          ('SCR001','SCREEN1','150','80','0','VJA001','MV001','18:00'),
          ('SCR001','SCREEN1','150','80','0','VJA001','MV001','21:00'),

          ('SCR002','SCREEN2','150','120','0','VJA001','MV002','11:00'),
          ('SCR002','SCREEN2','150','120','0','VJA001','MV002','14:00'),
          ('SCR002','SCREEN2','150','120','0','VJA001','MV002','18:00'),
          ('SCR002','SCREEN2','150','120','0','VJA001','MV002','21:00'),

          ('SCR003','SCREEN3','150','60','0','VJA001','MV003','11:00'),
          ('SCR003','SCREEN3','150','60','0','VJA001','MV003','14:00'),
          ('SCR003','SCREEN3','150','60','0','VJA001','MV004','18:00'),
          ('SCR003','SCREEN3','150','60','0','VJA001','MV004','21:00'),

          ('SCR004','SCREEN1','130','80','0','VJA002','MV001','11:00'),
          ('SCR004','SCREEN1','130','80','0','VJA002','MV001','14:00'),
          ('SCR004','SCREEN1','130','80','0','VJA002','MV002','18:00'),
          ('SCR004','SCREEN1','130','80','0','VJA002','MV002','21:00'),

          ('SCR005','SCREEN2','100','120','0','VJA002','MV003','11:00'),
          ('SCR005','SCREEN2','100','120','0','VJA002','MV003','14:00'),
          ('SCR005','SCREEN2','100','120','0','VJA002','MV004','18:00'),
          ('SCR005','SCREEN2','100','120','0','VJA002','MV004','21:00'),

          
          ('SCR006','SCREEN1','130','80','0','VJA003','MV001','11:00'),
          ('SCR006','SCREEN1','130','80','0','VJA003','MV001','14:00'),
          ('SCR006','SCREEN1','130','80','0','VJA003','MV001','18:00'),
          ('SCR006','SCREEN1','130','80','0','VJA003','MV002','21:00'),

          ('SCR007','SCREEN2','100','120','0','VJA003','MV003','11:00'),
          ('SCR007','SCREEN2','100','120','0','VJA003','MV003','14:00'),
          ('SCR007','SCREEN2','100','120','0','VJA003','MV003','18:00'),
          ('SCR007','SCREEN2','100','120','0','VJA003','MV003','21:00'),


          ('SCR008','SCREEN1','130','80','0','VZG001','MV001','11:00'),
          ('SCR008','SCREEN1','130','80','0','VZG001','MV001','14:00'),
          ('SCR008','SCREEN1','130','80','0','VZG001','MV001','18:00'),
          ('SCR008','SCREEN1','130','80','0','VZG001','MV001','21:00'),

          ('SCR009','SCREEN2','100','120','0','VZG001','MV002','11:00'),
          ('SCR009','SCREEN2','100','120','0','VZG001','MV002','14:00'),
          ('SCR009','SCREEN2','100','120','0','VZG001','MV002','18:00'),
          ('SCR009','SCREEN2','100','120','0','VZG001','MV002','21:00'),
          
          ('SCR010','SCREEN1','100','120','0','VZG002','MV001','11:00'),
          ('SCR010','SCREEN1','100','120','0','VZG002','MV002','14:00'),
          ('SCR010','SCREEN1','100','120','0','VZG002','MV001','18:00'),
          ('SCR010','SCREEN1','100','120','0','VZG002','MV002','21:00'),
          
          ('SCR011','SCREEN2','100','120','0','VZG002','MV002','11:00'),
          ('SCR011','SCREEN2','100','120','0','VZG002','MV003','14:00'),
          ('SCR011','SCREEN2','100','120','0','VZG002','MV003','18:00'),
          ('SCR011','SCREEN2','100','120','0','VZG002','MV001','21:00'),
          
          ('SCR012','SCREEN3','100','120','0','VZG002','MV003','11:00'),
          ('SCR012','SCREEN3','100','120','0','VZG002','MV004','14:00'),
          ('SCR012','SCREEN3','100','120','0','VZG002','MV004','18:00'),
          ('SCR012','SCREEN3','100','120','0','VZG002','MV004','21:00'),
          
          ('SCR013','SCREEN1','100','120','0','HYD001','MV001','11:00'),
          ('SCR013','SCREEN1','100','120','0','HYD001','MV002','14:00'),
          ('SCR013','SCREEN1','100','120','0','HYD001','MV001','18:00'),
          ('SCR013','SCREEN1','100','120','0','HYD001','MV002','21:00'),
          
          ('SCR014','SCREEN2','100','120','0','HYD001','MV002','11:00'),
          ('SCR014','SCREEN2','100','120','0','HYD001','MV001','14:00'),
          ('SCR014','SCREEN2','100','120','0','HYD001','MV003','18:00'),
          ('SCR014','SCREEN2','100','120','0','HYD001','MV004','21:00'),
          
          ('SCR015','SCREEN1','100','120','0','HYD002','MV001','11:00'),
          ('SCR015','SCREEN1','100','120','0','HYD002','MV002','14:00'),
          ('SCR015','SCREEN1','100','120','0','HYD002','MV003','18:00'),
          ('SCR015','SCREEN1','100','120','0','HYD002','MV004','21:00'),
          
          ('SCR016','SCREEN2','100','120','0','HYD002','MV002','11:00'),
          ('SCR016','SCREEN2','100','120','0','HYD002','MV003','14:00'),
          ('SCR016','SCREEN2','100','120','0','HYD002','MV004','18:00'),
          ('SCR016','SCREEN2','100','120','0','HYD002','MV001','21:00'),
          
          ('SCR017','SCREEN3','100','120','0','HYD002','MV003','11:00'),
          ('SCR017','SCREEN3','100','120','0','HYD002','MV004','14:00'),
          ('SCR017','SCREEN3','100','120','0','HYD002','MV001','18:00'),
          ('SCR017','SCREEN3','100','120','0','HYD002','MV003','21:00'),
          
          ('SCR018','SCREEN1','100','120','0','CHN001','MV001','11:00'),
          ('SCR018','SCREEN1','100','120','0','CHN001','MV002','14:00'),
          ('SCR018','SCREEN1','100','120','0','CHN001','MV001','18:00'),
          ('SCR018','SCREEN1','100','120','0','CHN001','MV002','21:00'),
          
          ('SCR019','SCREEN2','100','120','0','CHN001','MV002','11:00'),
          ('SCR019','SCREEN2','100','120','0','CHN001','MV001','14:00'),
          ('SCR019','SCREEN2','100','120','0','CHN001','MV003','18:00'),
          ('SCR019','SCREEN2','100','120','0','CHN001','MV004','21:00'),
          
          ('SCR020','SCREEN1','100','120','0','CHN002','MV001','11:00'),
          ('SCR020','SCREEN1','100','120','0','CHN002','MV002','14:00'),
          ('SCR020','SCREEN1','100','120','0','CHN002','MV003','18:00'),
          ('SCR020','SCREEN1','100','120','0','CHN002','MV004','21:00'),
          
          ('SCR021','SCREEN2','100','120','0','CHN002','MV002','11:00'),
          ('SCR021','SCREEN2','100','120','0','CHN002','MV003','14:00'),
          ('SCR021','SCREEN2','100','120','0','CHN002','MV004','18:00'),
          ('SCR021','SCREEN2','100','120','0','CHN002','MV001','21:00'),
          
          ('SCR022','SCREEN3','100','120','0','CHN002','MV003','11:00'),
          ('SCR022','SCREEN3','100','120','0','CHN002','MV004','14:00'),
          ('SCR022','SCREEN3','100','120','0','CHN002','MV001','18:00'),
          ('SCR022','SCREEN3','100','120','0','CHN002','MV003','21:00'),
          
          ('SCR023','SCREEN1','100','120','0','BLR001','MV001','11:00'),
          ('SCR023','SCREEN1','100','120','0','BLR001','MV002','14:00'),
          ('SCR023','SCREEN1','100','120','0','BLR001','MV001','18:00'),
          ('SCR023','SCREEN1','100','120','0','BLR001','MV002','21:00'),
          
          ('SCR024','SCREEN2','100','120','0','BLR001','MV002','11:00'),
          ('SCR024','SCREEN2','100','120','0','BLR001','MV001','14:00'),
          ('SCR024','SCREEN2','100','120','0','BLR001','MV003','18:00'),
          ('SCR024','SCREEN2','100','120','0','BLR001','MV004','21:00'),
          
          ('SCR025','SCREEN1','100','120','0','BLR002','MV001','11:00'),
          ('SCR025','SCREEN1','100','120','0','BLR002','MV002','14:00'),
          ('SCR025','SCREEN1','100','120','0','BLR002','MV003','18:00'),
          ('SCR025','SCREEN1','100','120','0','BLR002','MV004','21:00'),
          
          ('SCR026','SCREEN2','100','120','0','BLR002','MV002','11:00'),
          ('SCR026','SCREEN2','100','120','0','BLR002','MV003','14:00'),
          ('SCR026','SCREEN2','100','120','0','BLR002','MV004','18:00'),
          ('SCR026','SCREEN2','100','120','0','BLR002','MV001','21:00'),
          
          ('SCR027','SCREEN3','100','120','0','BLR002','MV003','11:00'),
          ('SCR027','SCREEN3','100','120','0','BLR002','MV004','14:00'),
          ('SCR027','SCREEN3','100','120','0','BLR002','MV001','18:00'),
          ('SCR027','SCREEN3','100','120','0','BLR002','MV003','21:00'),
          
          ('SCR028','SCREEN1','100','120','0','DLH001','MV001','11:00'),
          ('SCR028','SCREEN1','100','120','0','DLH001','MV002','14:00'),
          ('SCR028','SCREEN1','100','120','0','DLH001','MV001','18:00'),
          ('SCR028','SCREEN1','100','120','0','DLH001','MV002','21:00'),
          
          ('SCR029','SCREEN2','100','120','0','DLH001','MV002','11:00'),
          ('SCR029','SCREEN2','100','120','0','DLH001','MV001','14:00'),
          ('SCR029','SCREEN2','100','120','0','DLH001','MV003','18:00'),
          ('SCR029','SCREEN2','100','120','0','DLH001','MV004','21:00'),
          
          ('SCR030','SCREEN1','100','120','0','DLH002','MV001','11:00'),
          ('SCR030','SCREEN1','100','120','0','DLH002','MV002','14:00'),
          ('SCR030','SCREEN1','100','120','0','DLH002','MV003','18:00'),
          ('SCR030','SCREEN1','100','120','0','DLH002','MV004','21:00'),
          
          ('SCR031','SCREEN2','100','120','0','DLH002','MV002','11:00'),
          ('SCR031','SCREEN2','100','120','0','DLH002','MV003','14:00'),
          ('SCR031','SCREEN2','100','120','0','DLH002','MV004','18:00'),
          ('SCR031','SCREEN2','100','120','0','DLH002','MV001','21:00'),
          
          ('SCR032','SCREEN3','100','120','0','DLH002','MV003','11:00'),
          ('SCR032','SCREEN3','100','120','0','DLH002','MV004','14:00'),
          ('SCR032','SCREEN3','100','120','0','DLH002','MV001','18:00'),
          ('SCR032','SCREEN3','100','120','0','DLH002','MV003','21:00'),
           
          ('SCR033','SCREEN1','100','120','0','DHN001','MV001','11:00'),
          ('SCR033','SCREEN1','100','120','0','DHN001','MV002','14:00'),
          ('SCR033','SCREEN1','100','120','0','DHN001','MV001','18:00'),
          ('SCR033','SCREEN1','100','120','0','DHN001','MV002','21:00'),
          
          ('SCR034','SCREEN2','100','120','0','DHN001','MV002','11:00'),
          ('SCR034','SCREEN2','100','120','0','DHN001','MV001','14:00'),
          ('SCR034','SCREEN2','100','120','0','DHN001','MV003','18:00'),
          ('SCR034','SCREEN2','100','120','0','DHN001','MV004','21:00'),
          
          ('SCR035','SCREEN1','100','120','0','DHN002','MV001','11:00'),
          ('SCR035','SCREEN1','100','120','0','DHN002','MV002','14:00'),
          ('SCR035','SCREEN1','100','120','0','DHN002','MV003','18:00'),
          ('SCR035','SCREEN1','100','120','0','DHN002','MV004','21:00'),
          
          ('SCR036','SCREEN2','100','120','0','DHN002','MV002','11:00'),
          ('SCR036','SCREEN2','100','120','0','DHN002','MV003','14:00'),
          ('SCR036','SCREEN2','100','120','0','DHN002','MV004','18:00'),
          ('SCR036','SCREEN2','100','120','0','DHN002','MV001','21:00'),
          
          ('SCR037','SCREEN3','100','120','0','DHN002','MV003','11:00'),
          ('SCR037','SCREEN3','100','120','0','DHN002','MV004','14:00'),
          ('SCR037','SCREEN3','100','120','0','DHN002','MV001','18:00'),
          ('SCR037','SCREEN3','100','120','0','DHN002','MV003','21:00')
          ]

cursor.executemany(query,screens)
cnx.commit()

print(cursor.rowcount,' rows inserted!')

148  rows inserted!

In [13]:
from datetime import datetime
from IPython.display import clear_output

class MTBS:
    def __init__(self,cursor):
        self.cursor = cursor

    def show_cities(self):
        query = "select * from city"
        self.cursor.execute(query)
        cities = self.cursor.fetchall()
        return cities
    
    def show_movies(self,city_id):
        query = """
                select movie_id,name from movie M join
                        (
                         select distinct movie_id as ID 
                         from screens join theatre
                         on screens.theatre_id = theatre.theatre_id
                         where theatre.city_id = %s
                        ) T
                on M.movie_id = T.ID
                """
        self.cursor.execute(query,[city_id])
        movies = self.cursor.fetchall()
        return movies
    
    def show_theatre(self,city_id,movie_id):
        query = """
                select distinct theatre.theatre_id, theatre.name 
                from screens join theatre
                on theatre.theatre_id = screens.theatre_id
                where (city_id,movie_id) = (%s,%s)
                """
        self.cursor.execute(query,[city_id,movie_id])
        theatres = self.cursor.fetchall()
        return theatres
    
    def show_screen_timing(self,theatre_id,movie_id):
        query = """
                select distinct screen_id,name,
                show_timings,total_seating,seats_filled,price 
                from screens
                where (theatre_id,movie_id) = (%s,%s) 
                and total_seating <> seats_filled
                """
        self.cursor.execute(query,[theatre_id,movie_id])
        screens = self.cursor.fetchall()
        return screens
    
    def show_available_seats(self,screen_id,show_timings):
        query = """
                select * from screens
                where (screen_id, show_timings) = (%s,%s)
                """
        self.cursor.execute(query,[screen_id,show_timings])
        availability = self.cursor.fetchall()
        return availability
    
    def generate_booking_id(self):
        query = 'select * from bookings'
        self.cursor.execute(query)
        res = self.cursor.fetchall()
        return 'MTBS'+str(len(res)+1).rjust(4, '0')

    def book_tickets(self):
        
        clear_output()
        print('\n=>\n')
        
    # select a city 
        print("\nList of available cities : ")   
        cities = self.show_cities()
        for i in range(len(cities)):
            print(i+1,' ',cities[i][1])
        selected_city = int(input('Enter your option : '))
        city_name = cities[selected_city-1][1]
        
        clear_output()
        print('\n=> {} =>\n'.format(city_name))
        
    # select a movie 
        print('\nMovies available in {} : '.format(city_name))
        movies = self.show_movies(cities[selected_city-1][0])
        for i in range(len(movies)):
            print(i+1,' ',movies[i][1])
        
        selected_movie = int(input('Enter your option : '))
        movie_name = movies[selected_movie-1][1]
        
        clear_output()
        print('\n=> {} => {} =>\n'.format(city_name,movie_name))
        
    # select a theatre
        print('\n{} movie is available in : '.format(movie_name))
        theatres = self.show_theatre(
            cities[selected_city-1][0],
            movies[selected_movie-1][0]
        )
        for i in range(len(theatres)):
            print(i+1,' ',theatres[i][1])
        
        selected_theatre = int(input('Enter your option : '))
        theatre_name = theatres[selected_theatre-1][1]
        
        clear_output()
        print('\n=> {} => {} => {} =>\n'.format(
            city_name,movie_name,theatre_name))
        
    # select screen and show timing
        print('\n{} movie show timings in {} : '.format(
            movie_name,theatre_name))
        screen_timings = self.show_screen_timing(
            theatres[selected_theatre-1][0],
            movies[selected_movie-1][0])
        for i in range(len(screen_timings)):
            print(i+1,' ',
                  screen_timings[i][1],' : ',
                  screen_timings[i][2],
                  ' : {} seats available : price [ {} ]'.format(
                      screen_timings[i][3]-screen_timings[i][4],
                      screen_timings[i][5]))
        
        selected_screen_timings = int(input('Enter your option : '))
        screen_name = screen_timings[i][1]
        timings = screen_timings[i][2]
        
        
        clear_output()
        print('\n=> {} => {} => {} => {} => {} =>\n'.format(
            city_name,movie_name,theatre_name,screen_name,timings))
        
    # number of seats for booking
        print("\nselect number of seats : ")
        seat_count = int(input())

        clear_output()
        print('\n=> {} => {} => {} => {} => {} => {} seats\n'.format(
            city_name,movie_name,theatre_name,screen_name,timings,
            seat_count))
        
        print("\nPersonal Details\n")
        user_name = input("Name : ")
        mobile_number = input("Mobile Number : ")
        email = input("Email : ")

        clear_output()
        
    # Review Booking
        print("\n\n Review Booking\n")
        print('Movie : ',movies[selected_movie-1][1])
        print('Theatre : ',theatres[selected_theatre-1][1])
        print('Screen : ',screen_timings[selected_screen_timings-1][1])
        print('Show Timings : ',
              screen_timings[selected_screen_timings-1][2])
        print('Seats selected : ',seat_count)
        print('Amount to be paid : ',
              seat_count*int(screen_timings[selected_screen_timings-1][5]))

        print('\nConfirm your booking : ')
        confirm = input("\nconfirm / cancel ? : ")
        
        clear_output()
        
        if confirm == 'confirm':
        
        # New Booking tuple
            booking_id = self.generate_booking_id()
            date_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
            query = """
                    insert into bookings 
                    values(%s,%s,%s,%s,%s,%s,%s,%s)
                    """
            self.cursor.execute(query,
                                [booking_id,
                                 user_name,
                                 mobile_number,
                                 email,seat_count,
                                 date_time,
                                 screen_timings[selected_screen_timings-1][0],
                                 screen_timings[selected_screen_timings-1][2]])
            cnx.commit()

        # Reduce the seats booked
            query = """update screens set seats_filled = %s 
            where screen_id= %s and show_timings = %s"""
            cursor.execute(query,
                [screen_timings[selected_screen_timings-1][4]+seat_count ,
                 screen_timings[selected_screen_timings-1][0],
                 screen_timings[selected_screen_timings-1][2]])
            cnx.commit()
        
        # printing booking confirmation
            print('_______________________________________________')
            print('\n\nTickets booked !\n\n')
            print('Booking ID \t: ',booking_id)
            print('Name \t\t: ',user_name)
            print('Email \t\t: ',email)
            print('Mobile Number \t: ',mobile_number)
            print('_______________________________________________')
            print('\nMovie \t\t: ',movies[selected_movie-1][1])
            print('Theatre \t: ',theatres[selected_theatre-1][1])
            print('Screen \t\t: ',
                  screen_timings[selected_screen_timings-1][1])
            print('Show Timings \t: ',
                  screen_timings[selected_screen_timings-1][2])
            print('Seats selected \t: ',seat_count)
            print('_______________________________________________')
            
        else:
            print('Booking Canceled!')

In [14]:
##new booking
tickets = MTBS(cursor)
tickets.book_tickets()

Booking Canceled!